.custom-button {
    color: var(--btn-text);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: 1px solid var(--btn-border);
    background-color: var(--btn-bg);
}

.custom-button:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text);
}